:root {
    /* COLORS */
    --color-black: black;
    --color-white: white;
    --color-primary: #607ABE;
    --color-primary-focus: #607ABE;
    --color-primary-background: #dfedff;
    --color-primary-background-assertive: #E5ECF2;
    --color-secondary: #2F3B5C;
    --color-assertive: #A94B44;
    --color-assertive-light: #FDE9E9;
    --color-grey-disabled: #EBEBEB;
    --color-grey-disabled-text: #A3A3A3;
    --color-additional: #DFBD44;

    /* FONTS */
    --default-font-size: 16px;
    --default-font: 'Roboto', sans-serif;
}

$step: 4px;