:root {
    /* COLORS */
    --color-black: #242933;
    --color-white: white;
    --color-primary: #A99792;
    --color-primary-focus: #7A7A7A;
    --color-primary-background: #F9EFE7;
    --color-primary-background-assertive: #F9EFE7;
    --color-secondary: #6A5B57;
    --color-secondary-dark: #393333;
    --color-assertive: #A94B44;
    --color-assertive-light: #FDE9E9;
    --color-grey-disabled: #EBEBEB;
    --color-grey-disabled-text: #A3A3A3;
    --color-additional: #F9EFE7;

    /* FONTS */
    --default-font-size: 16px;
    --default-font: 'Roboto', sans-serif;
}

$step: 4px;