.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_end {
        justify-content: end;
    }

    &_start {
        justify-content: start;
    }

    &_align-start {
        align-items: flex-start;
    }

    &_between {
        justify-content: space-between;
    }

    &_nowrap {
        flex-wrap: nowrap;
    }

    @for $i from 0 through 20 {
        &_gap-#{$i} {
            gap: #{$i * 4px};
        }
    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_start {
        align-items: start;
    }

    &_between {
        justify-content: space-between;
    }

    @for $i from 0 through 20 {
        &_gap-#{$i} {
            gap: #{$i * 4px};
        }
    }
}